*.pyc
*~
__pychache__
myvenv
eoa-venv
db.sqlite3
/static
.DS_Store
**/migrations
*.pem
*.crt
*.key

build/
node_modules/
vendor/
composer.lock

/workspace/nextcloud/mysql
/workspace/nextcloud/data/data

userlist.txt
